<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome - Articles</title>
</head>

<body>
  <h1>Welcome!</h1>
  <a href="/posts/new">Click Here To Create A New Article</a>
</body>
</html>
