<!DOCTYPE html>
<html>
  <head>
    <title>Update An Article</title>
  </head>
  <body>
    <h2>Update An Article</h2>
    <div class="update">
      <form action="/articles/<%= @article.id %>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="PATCH">
        <label>Title:</label><br>
        <input id="title" type="text" name="article[title]" value="<%= @article.title %>" /><br>
        <label>Content: </label><br>
        <textarea id="content" rows="4" cols="20" name="article[content]" value="<%= @article.content %>"></textarea><br>
        <input type="submit"/>
      </form>
    </div>
  </body>
</html>
