<!DOCTYPE html>
<html>
  <head>
    <title>Index Page</title>
  </head>
  <body>
    <h1>All Articles</h1>
    <div class="articles">
    <h2><% @articles.each do |article| %></h2>
      <h3>Title: <%= article.title %></h3><br>
      <h4>Content: <%= article.content %></h4><br>
    <% end %>
    </div>
  </body>
</html>
