<h1>New Article Form</h1>

<form  action="/articles" method="POST">
  <div>
  <label for="name">Article Name:</label>
  <input type="text" name="title" id="title">
</div>
<div>
  <label for="content">Article Content:</label>
  <input type="text" name="content" id="content">
</div>
<input name="submit" type="submit" id="submit">
</form>
